.wrapper {
  width: 85%;
  max-width: 100em;
  margin: 0 auto;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: white;
  border-bottom: 1px solid #f5751d;
  box-shadow: 0 4px 6px -6px #222;
  z-index: 30;
}

.menuBtn {
  display: inline-block;
  cursor:pointer;
  z-index: 30;
}

.line {
  position: relative;
  width: 2rem;
  height: 2px;
  background: #f5751d;
  cursor:pointer;
}

.line::before{
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 2rem;
  height: 2px;
  background: #f5751d;
  cursor:pointer;
}
.line::after{
  content: '';
  position: absolute;
  bottom: -8px;
  left:0;
  width: 2rem;
  height: 2px;
  background: #f5751d;
  cursor:pointer;
}

.menu-list {
  position: absolute;
  right: 0;
  width: 160px;
  height: auto;
  text-align: center;
  background: rgba(255,255,255,0.9);
  border: 1px solid #f5751d;
  border-top: #fff 1px solid;
  box-shadow: 0 4px 6px -6px #222;
  padding: 0.8rem 0;
  margin-top: 28px;
  z-index: 20;
}

.menu-list a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  line-height: 2.5rem;
  color: #000;
}

.menu-list a:hover {
  color: #f5751d;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 2rem;
  border-top: 1px solid #f5751d;
}

.photo {
  border-radius: 1rem;
  box-shadow: 3px 3px 6px #ccc;
  max-width: 30em;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg.jpg');
  transition: background-color 2s ease-in;
  opacity: 0.05;
}
/*@media screen and (min-width:480px) {
  .photo {
    width: 100%;
  }
}*/