html::-webkit-scrollbar{width: 0;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 12px;
	/*font-family: PingFangSC-Semibold, PingFang SC, Sans-serif;*/
}
body::-webkit-scrollbar,html::-webkit-scrollbar,.main::-webkit-scrollbar,#wrap::-webkit-scrollbar,.swiper_div::-webkit-scrollbar{width:0;}
body::-webkit-scrollbar,html::-webkit-scrollbar,.main::-webkit-scrollbar,#wrap::-webkit-scrollbar,.swiper_div::-webkit-scrollbar{width:0;}
body::-webkit-scrollbar,html::-webkit-scrollbar,.main::-webkit-scrollbar,#wrap::-webkit-scrollbar,.swiper_div::-webkit-scrollbar{width:0;}
*,ul,ol{margin:0;padding:0;}
/*盒子阴影*/
.shadow{
	box-shadow: 1px 4px 10px #e4e9f2 !important;
	border-radius: 16px !important;
}
.pShadow{
	box-shadow: 0px 0px 10px rgba(200,207,221,0.7) !important;
	border-radius: 25px !important;
}
.main{			/* 主体盒子  */
	width: 100%;
	height: 100%;
}
#menuBtn {
	z-index: 31;
}
.page {
	min-height: 700px!important;
}

@media screen and (min-width:480px) {
	.page {
		position: relative;
		/* height: 100%; */
		width:100%;
    margin:0;
		padding: 0 4.5%;
	}
	.name {
		font-size: 16px;
		color: #000;
	}
	.dw_homepage_mainimage{
		position: absolute;
		height: 160vw;
		width: 160vw;
		left: 50%;
		top: 50%;
		transform: translate(-35%,-50%);
		z-index: -1;
	}
	.border {
		display: inline-block;
		width: 2em;
		position: relative;
	}
	.border:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 0.34rem;
		background: red;
		bottom: 0;
	}	
	.page1_p1>h1 {
		margin-top: 20%;
		font-weight: normal;
		font-size: 28px!important;
		line-height: 1.2em;
		letter-spacing: 0.1em;
		z-index: 12!important;
	}
	.page1_p1>p{
		position: relative;
		z-index: 8;
		line-height: 3rem;
		letter-spacing: .2rem;
		color: #555f70;
		font-size: 1.5rem;
	}
	.page2_left{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 11;
	}
	.page2_left>h3{
		font-size: 5.65rem;
		margin-bottom: 3%;
		font-weight: normal;
	}
	.page2_left>h2 {
		text-align: center;
	}
	.page2_left>h2>img{
		height: 140px;
		padding-bottom: 0.5em;
		margin: 0 auto;
	}
	.dw_product_background {
    position: relative;
    z-index: -1;
		width: 100%;
		/* height: 100vh; */
    top: 0;
	}
	.page2_left>div img{
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.page2_left .qrcode{
		width:100%;
		display: flex;
		padding-right: 1.5rem;
		bottom: 0;
		position: absolute;
	}
	.page2_left>div {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.page2_left dl {
		display: inline-block;
		padding: 0 10%;
	}
	.page2_PC {
		display: none!important;
	}
	.page5_boxM {
		height: 100%;
		width: 100%;
		padding: 5% 4.5%;
		display: flex;
		flex-direction: column;
		max-height: 712px;
	}
	.header>nav{
		padding-left:4.5%;
	}
	.header>span {
		padding-right: 4.5%;
	}
	#tag4:after {
		content: '';
		position: absolute;
		width: 2em;
		height: 0.1em;
		/*background: red;*/
		background: #f5751d;
		left: 0;
		bottom: 0;
	}
	#tag3:after {
		content: '';
		position: absolute;
		width: 2em;
		height: 0.1em;
		/*background: red;*/
		background: #f5751d;
		left: 0;
		bottom: 0;
	}
	#tag2:after {
		content: '';
		position: absolute;
		width: 2em;
		height: 0.1em;
		/*background: red;*/
		background: #f5751d;
		left: 0;
		bottom: 0;
	}
	#tag5:after {
		content: '';
		position: absolute;
		width: 2em;
		height: 0.1em;
		/*background: red;*/
		background: #f5751d;
		left: 0;
		bottom: 0;
	}
	#tag2,#tag3,#tag4,#tag5 {
		font-weight: normal;
		font-size: 28px;
		line-height: 58px;
		position: relative;
	}
	.page3_main>dl>div{
		background:white;
		position: relative;
		z-index: 12;
		display: flex;
		flex-direction: column;
		padding: 0 6%;
		width:100%;
		box-shadow: 2px 2px 3px #ccc;
		border-radius: 2rem;
	}
	.page5_box>div {
		display: flex;
		flex-direction: column;
	}
	.page5M {
		display: none;
	}
	#main{
    height:100%;
    top:0;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
	}
	#main::-webkit-scrollbar{width: 0}
	.infoImgM {
		display: block;
		width: 100%;
		height: 100%; 
		margin: 15px auto;
		max-width: 610px;
		max-height: 315px;
	}
	footer{
		width:100%;
		height: 2rem;
		line-height: 2rem;
		-webkit-user-select: none;
		border-top: 1px solid rgba(236,0,0,1);

	}
	.footerPC {
		display: none;
	}
	#menu {
		position: absolute;
		/* filter: blur(10px); */
		background: rgba(255,255,255,0.6);
		width: 100%;
		height: 100%;
		z-index: 30;
	}
	#menu>ul {
		position: relative;
		width: 80%;
		/*margin:20% auto;*/
		margin: 10% auto;
		z-index: 31;
	}
	#menu>ul>li {
		font-size: 2em;
		width: 100%;
		height: 3em;
		line-height: 3em;
		text-align: center;
	}
	#menu>ul>li>span {
		cursor: pointer;
		font-weight: normal;
		z-index: 31;
	}
	/* .bulr {
		filter: blur(5px)
	} */
	.ShowFooter_Mo{
		display: block;
	}
	.ShowFooter_PC{
		display: none;
	}
	.page4_p1 .page4_card .context {
		padding: 0;
	}
}

@media screen and (min-width:768px) {
	.page {
		width:100%;
    margin:0;
		padding: 0 4.5%;
	}
	.name {
		font-size: 20px;
		color: #000;
	}
	.dw_homepage_mainimage{
		position: absolute;
		height: 140vh;
		width: auto;
		left: 50%;
		top: 50%;
		transform: translate(-35%,-50%);
		z-index: -1;
	}
	.bulr {
		filter: blur(0px)!important;
	}
	
	.border {
		display: inline-block;
	}
	.page1_p1>h1{
		line-height: 46.5px;
		position: relative;
		z-index: 8;
		letter-spacing: .8rem;
		margin-bottom: 3rem;
		line-height:7rem!important;
		font-size:4rem!important;
	}
	.page1_p1>p{
		position: relative;
		z-index: 8;
		line-height: 3rem;
		letter-spacing: .2rem;
		color: #555f70;
		font-size: 1.5rem!important;
	}
	.header>nav{
		padding-left:4.5%;
	}
	.header>span {
		padding-right: 4.5%;
	}
	#tag2,#tag3,#tag4,#tag5 {
		font-weight: normal;
		font-size: 38px;
	}
	.page2_left{
		width:20em;
		height: 65vw;
		position: relative;
		z-index: 11;
	}
	.page2_left>h3{
		font-size: 5.65rem;
		margin-bottom:25%;
		font-weight: normal;
	}
	.page2_left>h2>img{
		height: 12rem;
		padding-bottom: 0.5em;
	}
	.page2_left>div img{
		width:6rem;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.page2_left dt{
		background: white;
	}
	.dw_product_demo{
		position: absolute;
		z-index: 9;
		height: 68vw;
		left: 50%;
		top: 10vh;
		margin-left: 20px;
		transform: translate(-50%);
	}
	.dw_product_background{
		position: absolute;
		z-index: 8;
		height: 90vw;
		width: auto;
		top: 0;
		left: 50%;
		/* margin-left: 120px; */
		transform: translate(-50%);
	}
	.productBox {
		position: absolute;
		z-index: 9;
		height: 100vh;
		width: 100vh;
		float: right;
		left: 50%;
		margin-left: 100px;
		transform: translate(-50%);
		border: #000 1px solid;
		display: grid;
		grid-template-columns: repeat(6,1fr);
		grid-template-rows: auto;
	}
	.productBox .circleBox {
		display: grid;
		grid-template-rows: 24% repeat(4,1fr) 24%;
		grid-template-columns: auto;
	}
	.productBox > div {
		line-height: 18vh;
	}
	.page2_left .qrcode{
		width:100%;
		display: flex;
		justify-content: space-between!important;
		padding-right: 1.5rem;
		bottom: 0;
	}
	.page2_M {
		display: none;
	}
	.page2_PC {
		display: block!important;
	}
	.page2_left>div>dl{
		flex:1;
		display: flex;
		flex-direction: column;
	}
	.page3_main>dl>div{
		background:white;
		position: relative;
		z-index: 12;
		display: flex;
		flex-direction: column;
		padding: 0 6%;
		width:100%;
		min-height: 442px;
		box-shadow: 2px 2px 3px #ccc;
		border-radius: 2rem;
	}
	.page2_left>div>dl{
	/* transform: translateX(-15%); */
	}
	.page2_left>div>dl:last-child{
		/* transform: translateX(-30%); */
	}
	.page2_left>div>dl>dd{
		margin-top: 20px; 
		text-align: center;
		/* transform: translateY(-50%); */
		font-size: 1rem;
	}
	.page5_box>div {
		display: flex;
		flex-direction: row;
	}
	#main{
    	height:100%;
    	top:0;
		position: relative;
		/* overflow-x: hidden; */
		overflow-y: hidden;
	}
	#main::-webkit-scrollbar{width: 0}
	.infoImg {
		width: 37vw;
		height: 20vw; 
		margin: 15px 0;
	}
	footer{
		width:100%;
		height: 2rem;
		line-height: 2rem;
		position: absolute;
		bottom:0;
		-webkit-user-select: none;
		border-top: 1px solid rgba(236,0,0,1);
		margin-top: 80px;
	}
		.footerM {
			display: none;
	}
	#menu {
		position: absolute;
		background: rgba(255,255,255,0.9);
		width: 160px;
		/*margin-top: 47px;*/
		margin-top: 80px;
		height: auto;
		z-index: 33;
		margin-right: 4.5%;
		right: 0%;
		/*border: rgb(236,0,0) 1px solid;*/
		border: 1px solid #f5751d;
		border-top: #fff 1px solid;
		box-shadow: 0 4px 6px -6px #222;
	}
	#menu>ul {
		position: relative;
		/*padding-top: 10px;*/
		z-index: 33;
	}
	#menu>ul>li {
		font-size: 1.5em;
		height: 2em;
		line-height: 2em;
		text-align: center;
	}
	#menu>ul>li>span {
		cursor: pointer;
		/* font-weight: bold; */
		z-index: 31;
		letter-spacing: 0.2em;
		font-size: 20px;
		color: #000;
		padding: 0!important;
	}
	.ShowFooter_PC{
		display: block;
	}
	.ShowFooter_Mo{
		display: none;
	}
	.page4_p1 .page4_card .context {
		padding: 0 10%;
	}
	
}

@media screen and (min-width:992px) {
	.page {
		width:100%;
    margin:0;
		padding: 0 16%;
	}
	.name {
		font-size: 20px;
		color: #000;
	}

	.dw_homepage_mainimage{
		position: absolute;
		height: 150vh;
		width: auto;
		left: 50%;
		top: 50%;
		transform: translate(-35%,-50%);
		z-index: -1;
	}
	
	.border {
		display: inline-block;
	}
	.page1_p1>h1{
		line-height: 46.5px;
		position: relative;
		z-index: 8;
		letter-spacing: .8rem;
		margin-bottom: 3rem;
		line-height:7rem!important;
		font-size:4rem!important;
	}
	.page1_p1>p{
		position: relative;
		z-index: 8;
		line-height: 3rem;
		letter-spacing: .2rem;
		color: #555f70;
		font-size: 1.5rem!important;
	}
	.header>nav{
		padding-left:16%;
	}
	.header>span {
		padding-right: 16%;
	}
	#tag2,#tag3,#tag4,#tag5 {
		font-weight: normal;
		font-size: 40px;
	}
	.page2_left{
		width:24em;
		height: 84vh;
		min-height: 40vw;
		position: relative;
		z-index: 11;
	}
	.page2_left>h3{
		font-size: 5.65rem;
		margin-bottom:25%;
		font-weight: normal;
	}
	.page2_left>h2>img{
		height: 12rem;
		padding-bottom: 0.5em;
	}
	.page2_left>div img{
		width:8rem;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.page2_left dt{
		background: white;
	}
	.dw_product_demo{
		position: absolute;
		z-index: 9;
		height: 80vh;
		left: 50%;
		top: 10vh;
		margin-left: 70px;
		transform: translate(-50%);
	}
	.dw_product_background{
		position: absolute;
		z-index: 8;
		height: 100vh;
		top: 0;
		left: 50%;
		margin-left: 80px;
		transform: translate(-50%);
	}
	.productBox {
		position: absolute;
		z-index: 9;
		height: 100vh;
		width: 100vh;
		float: right;
		left: 50%;
		margin-left: 100px;
		transform: translate(-50%);
		border: #000 1px solid;
		display: grid;
		grid-template-columns: repeat(6,1fr);
		grid-template-rows: auto;
	}
	.productBox > div {
		line-height: 18vh;
	}
	.page2_left .qrcode{
		position: relative;
		width:100%;
		display: flex;
		justify-content: space-between!important;
		padding-right: 1.5rem;
		bottom: 0;
	}
	.page2_M {
		display: none;
	}
	.page2_left>div>dl{
		flex:1;
		display: flex;
		flex-direction: column;
	}
	.page3_main>dl>div{
		background:white;
		position: relative;
		z-index: 12;
		display: flex;
		flex-direction: column;
		padding: 0 6%;
		width:100%;
		min-height: 442px;
		box-shadow: 2px 2px 3px #ccc;
		border-radius: 2rem;
	}
	.page2_left>div>dl{
	/* transform: translateX(-15%); */
	}
	.page2_left>div>dl:last-child{
		/* transform: translateX(-30%); */
	}
	.page2_left>div>dl>dd{
		margin-top: 10px; 
		text-align: center;
		/* transform: translateY(-50%); */
		font-size: 1rem;
	}
	.page5_box>div {
		display: flex;
		flex-direction: row;
	}
	#main{
    	height:100%;
    	top:0;
		position: relative;
		/* overflow-x: hidden; */
		/* overflow-y: auto; */
	}
	#main::-webkit-scrollbar{width: 0}
	.infoImg {
		width: 370px;
		height: 206.5px; 
		margin: 15px 0;
	}
	footer{
		width:100%;
		height: 2rem;
		line-height: 2rem;
		position: absolute;
		bottom:0;
		-webkit-user-select: none;
		border-top: 1px solid rgba(236,0,0,1);
		margin-top: 80px;
	}
		.footerM {
			display: none;
	}
	#menu {
		position: absolute;
		background: rgba(255,255,255,0.9);
		width: 160px;
		/*margin-top: 47px;*/
		margin-top: 80px;
		height: auto;
		z-index: 33;
		margin-right: 16%;
		right: 0%;
		border: rgb(236,0,0) 1px solid;
		border-top: #fff 1px solid;
	}
	#menu>ul {
		position: relative;
		/*padding-top: 10px;*/
		z-index: 33;
	}
	#menu>ul>li {
		font-size: 1.5em;
		height: 2em;
		line-height: 2em;
		text-align: center;
	}
	#menu>ul>li>span {
		cursor: pointer;
		font-weight: normal;
		z-index: 31;
		letter-spacing: 0.2em;
		font-size: 20px;
		color: #000;
		padding: 0!important;
	}
	.ShowFooter_PC{
		display: block;
	}
	.ShowFooter_Mo{
		display: none;
	}
	.page4_p1 .page4_card .context {
		padding: 0;
	}
}

@media screen and (min-width:1200px) {
	.page {
		width:100%;
    margin:0;
		padding: 0 16%;
	}
	.name {
		font-size: 20px;
		color: #000;
	}

	.dw_homepage_mainimage{
		position: absolute;
		height: 75%;
		/* width: 180%; */
		right: 0;
		top: 15%;
		/*transform: translate(-35%,-50%);*/
		transform: translate(0,0);
		z-index: -1;
	}
	
	.border {
		display: inline-block;
	}
	.page1_p1>h1{
		line-height: 46.5px;
		position: relative;
		z-index: 8;
		letter-spacing: .8rem;
		margin-bottom: 3rem;
		line-height:7rem!important;
		font-size:4rem!important;
	}
	.page1_p1>p{
		position: relative;
		z-index: 8;
		line-height: 3rem;
		letter-spacing: .2rem;
		color: #555f70;
		font-size: 1.5rem!important;
	}
	.header>nav{
		padding-left:16%;
	}
	.header>span {
		padding-right: 16%;
	}
	#tag2,#tag3,#tag4,#tag5 {
		font-weight: normal;
		font-size: 40px;
	}
	.page2_left{
		/*width:26em;*/
		width:30em;
		height: 78vh;
		position: relative;
		z-index: 11;
	}
	.page2_left>h3{
		font-size: 5.65rem;
		margin-bottom:25%;
		font-weight: normal;
	}
	.page2_left>h2>img{
		/*height: 12rem;*/
		height: 70%;
		padding-bottom: 0.5em;
	}
	.page2_left>div img{
		width:9rem;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.page2_left dt{
		background: white;
	}
	.dw_product_demo{
		position: absolute;
		z-index: 9;
		height: 80vh;
		left: 50%;
		top: 10vh;
		margin-left: 100px;
		transform: translate(-50%);
	}
	.dw_product_background{
		position: absolute;
		z-index: 8;
		height: 50vh;
		top: 15%;
		/*left: 50%;*/
		right: 0;
		/*margin-left: 120px;*/
		/*transform: translate(-50%);*/
		transform: translate(-30%, 0);
	}
	.productBox {
		position: absolute;
		z-index: 9;
		height: 100vh;
		width: 100vh;
		float: right;
		left: 50%;
		margin-left: 100px;
		transform: translate(-50%);
		border: #000 1px solid;
		display: grid;
		grid-template-columns: repeat(6,1fr);
		grid-template-rows: auto;
	}
	.productBox .circleBox {
		display: grid;
		grid-template-rows: 24% repeat(4,1fr) 24%;
		grid-template-columns: auto;
	}
	.productBox > div {
		line-height: 18vh;
	}
	.page2_left .qrcode{
		width:100%;
		display: flex;
		justify-content: space-between!important;
		padding-right: 10%;
		bottom: 0;
	}
	.page2_M {
		display: none;
	}
	.page2_left>div>dl{
		flex:1;
		display: flex;
		flex-direction: column;
	}
	.page3_main>dl>div{
		background:white;
		position: relative;
		z-index: 12;
		display: flex;
		flex-direction: column;
		padding: 0 6%;
		width:100%;
		min-height: 442px;
		box-shadow: 2px 2px 3px #ccc;
		border-radius: 2rem;
	}
	.page2_left>div>dl{
	/* transform: translateX(-15%); */
	}
	.page2_left>div>dl:last-child{
		/* transform: translateX(-30%); */
	}
	.page2_left>div>dl>dd{
		margin-top: 20px; 
		text-align: center;
		/* transform: translateY(-50%); */
		font-size: 1rem;
	}
	.page5_box>div {
		display: flex;
		flex-direction: row;
	}
	#main{
    	height:100%;
    	top:0;
		position: relative;
		/* overflow-x: hidden; */
		/* overflow-y: auto; */
	}
	#main::-webkit-scrollbar{width: 0}
	.infoImg {
		width: 370px;
		height: 206.5px; 
		margin: 15px 0;
	}
	footer{
		width:100%;
		height: 2rem;
		line-height: 2rem;
		position: absolute;
		bottom:0;
		-webkit-user-select: none;
		border-top: 1px solid rgba(236,0,0,1);
		margin-top: 80px;
	}
	.footerM {
		display: none;
	}
	#menu {
		position: absolute;
		background: rgba(255,255,255,0.9);
		width: 160px;
		/*margin-top: 47px;*/
		margin-top: 80px;
		height: auto;
		z-index: 33;
		margin-right: 16%;
		right: 0%;
		border: rgb(236,0,0) 1px solid;
		border-top: #fff 1px solid;
	}
	#menu>ul {
		position: relative;
		/*padding-top: 10px;*/
		z-index: 33;
	}
	#menu>ul>li {
		font-size: 1.5em;
		height: 2em;
		line-height: 2em;
		text-align: center;
	}
	#menu>ul>li>span {
		cursor: pointer;
		font-weight: normal;
		z-index: 31;
		letter-spacing: 0.2em;
		font-size: 20px;
		color: #000;
		padding: 0!important;
	}
	.ShowFooter_PC{
		display: block;
	}
	.ShowFooter_Mo{
		display: none;
	}
	.page4_p1 .page4_card .context {
		padding: 0;
	}

}

@media screen and (max-width:479px) {
	.page {
		position: relative;
		/* height: 100%; */
		width:100%;
    margin:0;
		padding: 0 4.5%;
	}
	.name {
		font-size: 16px;
		color: #000;
	}
	.dw_homepage_mainimage{
		position: absolute;
		height: 180vw;
		width: 180vw;
		left: 50%;
		top: 50%;
		transform: translate(-35%,-50%);
		z-index: -1;
	}
	.border {
		display: inline-block;
		width: 2em;
		position: relative;
	}
	.border:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 0.34rem;
		background: red;
		bottom: 0;
	}	
	.page1_p1>h1 {
		margin-top: 40%;
		font-weight: normal;
		font-size: 28px!important;
		line-height: 1.2em;
		letter-spacing: 0.1em;
		z-index: 12!important;
	}
	.page1_p1>p{
		position: relative;
		z-index: 8;
		line-height: 3rem;
		letter-spacing: .2rem;
		color: #555f70;
		font-size: 1.5rem;
	}
	.page2_left{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 11;
	}
	.page2_left>h3{
		font-size: 5.65rem;
		margin-bottom: 3%;
		font-weight: normal;
	}
	.page2_left>h2 {
		text-align: center;
	}
	.page2_left>h2>img{
		/* height: 140px; */
		max-width: 250px;
		/* padding-bottom: 0.5em; */
		margin: 0 auto;
	}
	.dw_product_background {
    position: relative;
    z-index: -1;
    width: 138%;
    top: 0;
    left: -35%;
	}
	.page2_left>div img{
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.page2_left .qrcode{
		width:100%;
		display: flex;
		padding-right: 10%;
		bottom: 0;
		position: absolute;
	}
	.page2_left>div {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.page2_left dl {
		display: inline-block;
		padding: 0 10%;
	}
	.page2_PC {
		display: none;
	}
	.page5_boxM {
		height: 100%;
		width: 100%;
		padding: 5% 4.5%;
		display: flex;
		flex-direction: column;
		max-height: 712px;
	}
	.header>nav{
		padding-left:4.5%;
	}
	.header>span {
		padding-right: 4.5%;
	}
	#tag4:after {
		content: '';
		position: absolute;
		width: 2em;
		height: 0.1em;
		/*background: red;*/
		background: #f5751d;
		left: 0;
		bottom: 0;
	}
	#tag3:after {
		content: '';
		position: absolute;
		width: 2em;
		height: 0.1em;
		/*background: red;*/
		background: #f5751d;
		left: 0;
		bottom: 0;
	}
	#tag2:after {
		content: '';
		position: absolute;
		width: 2em;
		height: 0.1em;
		/*background: red;*/
		background: #f5751d;
		left: 0;
		bottom: 0;
	}
	#tag5:after {
		content: '';
		position: absolute;
		width: 2em;
		height: 0.1em;
		/*background: red;*/
		background: #f5751d;
		left: 0;
		bottom: 0;
	}
	#tag2,#tag3,#tag4,#tag5 {
		font-weight: normal;
		font-size: 28px;
		line-height: 40px;
		position: relative;
	}
	.page5_title {
		margin-top: 36px;
	}
	.page3_main>dl>div{
		background:white;
		position: relative;
		z-index: 12;
		display: flex;
		flex-direction: column;
		padding: 0 6%;
		width:100%;
		box-shadow: 2px 2px 3px #ccc;
		border-radius: 2rem;
	}
	.page5_box>div {
		display: flex;
		flex-direction: column;
	}
	.page5M {
		display: none;
	}
	#main{
    height:100%;
    top:0;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
	}
	#main::-webkit-scrollbar{width: 0}
	.infoImgM {
		display: block;
		width: 100%;
		height: 100%; 
		margin: 15px auto;
		max-width: 610px;
		max-height: 315px;
	}
	footer{
		width:100%;
		height: 2rem;
		line-height: 2rem;
		-webkit-user-select: none;
		border-top: 1px solid rgba(236,0,0,1);

	}
	.footerPC {
		display: none;
	}
	#menu {
		position: absolute;
		background: rgba(255,255,255,0.6);
		width: 100%;
		height: 100%;
		z-index: 30;
	}
	#menu>ul {
		position: relative;
		width: 80%;
		margin: 30% auto;
		z-index: 31;
	}
	#menu>ul>li {
		font-size: 2em;
		width: 100%;
		height: 3em;
		line-height: 3em;
		text-align: center;
	}
	#menu>ul>li>span {
		cursor: pointer;
		font-weight: normal;
		z-index: 31;
	}
	.bulr {
		filter: blur(5px)
	}
	.ShowFooter_Mo{
		display: block;
	}
	.ShowFooter_PC{
		display: none;
	}
}












.header {		/* 头部标签 */	
	width: 100%;
	/*height: 4rem; */
	height: 80px; 
	background: white;
	position: fixed;
	top: 0;
	display: flex;
	z-index: 31;
	border-bottom: 1px solid #f5751d;
	box-shadow: 0 4px 6px -6px #222;
}
/* 头部标签-内嵌logo */
.header>nav {
	display: flex;
  align-items: center;
}

/* 头部标签-右侧菜单空间*/
.header>span{
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/* 头部标签-菜单按钮样式-- */
.header>span>div{cursor:pointer;display: inline-block;}
.header .liner{width: 2rem;height: 2px;display: inline-block;background: #f5751d;position: relative;}/*top: 12px;*/
.header .liner::before{content: '';position: absolute;width: 2rem;height: 2px;background: #f5751d;top: -8px;left: 0;}
.header .liner::after{content: '';position: absolute;width: 2rem;height: 2px;background: #f5751d;bottom: -8px;left:0;}

.body{			/* 轮播图主体部分  */
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
	background: rgba(255,0,0,0.1);
}

#main>li:nth-child(1){
	/* background: url('../img/dw_homepage_mainimage.png') no-repeat 500px -500px; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	z-index: 8;
}

.page1_p1{
	/*transform: translateY(-50%);*/
	user-select: none;
}

#main>li:nth-child(2){
	position: relative;
}
.page2_p1{
	width:100%;
	height: 100%;
	display: flex;
	padding: 10% 0;
}
.page2_left>p{
	font-size: 14px;
	/* padding-right: 1.5rem; */
	color: #7f8794;
	text-align: left;
	letter-spacing: 3px;
	text-align-last:justify;
	line-height: 2em;
}
.page2_left>p:after {
	display: inline-block;
	width: 100%;
	content: '';
}
#main>li:nth-child(3){
	/*background: rgba(0,255,255,0.2);*/
	position: relative;
}
.dw_bk_circle_left{
	position: absolute;
	left: -28%;
	top:0%;
	height: 100%;
	z-index: 0;
}
.dw_bk_circle_right{
	position: absolute;
	right: -25%;
	bottom:-70%;
	height: 100%;
}
#main>li:nth-child(4){
	position: relative;
}
.page3_p1{
	width:100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 10% 0;
	padding-bottom: 4%;
}
.page3_p1>.page3_top{
	height: 8rem;
	width:100%;
	white-space: nowrap;
	position: relative;
	z-index: 12;
}
.page3_p1>.page3_top>h3{
	font-size: 56px; 
	font-weight: normal;
}
.page3_p1>.page3_main{
	flex:1;
}
.page3_main>dl{
	height: auto;
}
.page3_main>dl>div>dt>img{
	width:auto;
	height: 6rem;
	display: block;
	margin: 5% auto;
}
.page3_main>dl>div>dd:nth-child(2){
	text-align: center;
	font-size:2rem;
	margin-bottom: 6%;
}
.page3_main>dl>div>dd:nth-child(3){
	text-align: left;
	letter-spacing: 3px;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	color: #525d6d;
	line-height: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 1em;
	word-break:break-all;
}
.page4_p1 {
  width: 100%;
  height: auto!important;
  display: flex;
  padding: 10% 0;
  flex-direction: column;
}
.page4_p1 .page4_title {
	font-size: 56px;
	font-weight: normal;
}
.page4_p1 .page4_card {
  /* background: #aaa; */
  display: flex;
  padding: 0 14%;
  height: 100%;
}

.page4_p1 .page4_card .context {
  /* background: #fff; */
  width: 100%;
  height: auto;
}
.page4_p1 .page4_card .context .cardbox1 {
  padding-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.page4_p1 .page4_card .context .cardbox1 .card1 {
  border-radius: 20px;
  background: #fff;
  margin: 0 auto;
  width: 100%;
  height: 100%; 
  z-index: 10;
  display: flex;
  flex-direction: row;
  min-height: 200px;
  /* max-height: 300px; */
}
.page4_p1 .page4_card .context .cardbox2 {
  padding-top: 80px;
  width: 100%;
  /* height: 50%;  */
  display: flex;
  flex-direction: column-reverse;
}
.page4_p1 .page4_card .context .cardbox2 .card2 {
  border-radius: 20px;
  background: #fff;
  margin: 0 auto;
  width: 100%;
  height: 100%; 
  z-index: 10;
  display: flex;
  flex-direction: row;
  min-height: 200px;
  max-height: 200px;
}
.shadow {
  box-shadow: 3px 3px 6px #ccc;
}
.photo_img {
  display: inline-block;
  max-height: 200px;
  max-width: 200px;
  margin-left: 30px;
  margin-top: -30px;
}
.msg {
  padding: 4%;
  padding-top: 2%;
}
span {
	padding: 0 2em;
  margin: 0;
  color: #525d6d;
}
.text {
	font-size: 14px;
  padding-top: 26px;
	line-height: 28px;
	color: #525d6d;
}
.page5_box {
  height: 100%;
  width: 100%;
  padding: 5% 16%;
  display: flex;
  flex-direction: column;
  max-height: 712px;
}
.page5_box .page5_left {
  width: 100%;
  height: 100%;
}
.page5_box .page5_right {
  width: 100%;
	height: 100%;
	margin-right: -6%;
  /* margin: 0 auto; */
  text-align: center;
  display: flex;
	flex-direction: column;
	padding-top: 20px;
}
.page5_box .page5_left .page5_title{
	font-size: 56px;
	font-weight: normal;
}
.page5_box .page5_left .page5_s1 {
	padding-top: 18px;
	font-size: 15px;
}
.page5_box .page5_left .page5_s1 .info{
  margin: 0;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
}
.svg {
  vertical-align: middle;
}
.page5_box .page5_left p {
  color: #525d6d;
}
#main>li:nth-child(5){
	/*background: rgba(255,0,255,0.2);*/
	position: relative;
	padding: 0;
}
.dw_bk_circle_TopLit{
	position: absolute;
	transform: translate(-50%,-2%);
	height: 100%;
}
.swiper_li{		/*右侧滑块父级*/
	position: fixed;
	right: 2rem;
	top: 50%;
	transform: translate(0,-50%);
	z-index: 20;
}
.swiper_li>li{	/*滑块圆圈样式*/
	width: 9px;
	height: 9px;
	/*border: 1px solid #e11;*/
	border: 1px solid #f5751d;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
	margin: 10px 0;
}
.swiper_li>.on{/*圆圈处于选中状态*/
	/* background: black; */
	/*background: #ee1111;*/
	background: #f5751d;
}
/*jsav fullPage.js 伪*/
*{
    margin:0;
		padding:0;
		box-sizing: border-box;
 }
#wrap {
	overflow-x: hidden !important;
  width:100%;
  -webkit-overflow-scrolling: touch; 
}
#bg-wrap {
	position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../img/dvclab/bg5.jpg');
  transition: background-color 2s ease-in;
  opacity: 0.05;
} 
.bulr {
	filter: blur(5px)
}
.divs{
	width: 100%;
	height: 100%;
}
.page5_div{
	position: absolute;
	left: 0;
	top:0;
	right:0;
	bottom:0;
}












